<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szlhsoft.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.szlhsoft.model.Comment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="curriculumId" property="curriculumid" jdbcType="BIGINT" />
    <result column="datetime" property="datetime" jdbcType="TIMESTAMP" />
    <result column="star" property="star" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content, curriculumId, datetime, star, title, status, userid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_comment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_comment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.szlhsoft.model.Comment" >
    insert into t_comment (id, content, curriculumId, 
      datetime, star, title, 
      status, userid)
    values (#{id,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{curriculumid,jdbcType=BIGINT}, 
      #{datetime,jdbcType=TIMESTAMP}, #{star,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{userid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.szlhsoft.model.Comment" >
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="curriculumid != null" >
        curriculumId,
      </if>
      <if test="datetime != null" >
        datetime,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userid != null" >
        userid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="curriculumid != null" >
        #{curriculumid,jdbcType=BIGINT},
      </if>
      <if test="datetime != null" >
        #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="star != null" >
        #{star,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szlhsoft.model.Comment" >
    update t_comment
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="curriculumid != null" >
        curriculumId = #{curriculumid,jdbcType=BIGINT},
      </if>
      <if test="datetime != null" >
        datetime = #{datetime,jdbcType=TIMESTAMP},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szlhsoft.model.Comment" >
    update t_comment
    set content = #{content,jdbcType=VARCHAR},
      curriculumId = #{curriculumid,jdbcType=BIGINT},
      datetime = #{datetime,jdbcType=TIMESTAMP},
      star = #{star,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>